*.fits
blankmap_AspgfTo_RH*
sextractor-2.8.6/
*.o
*.a
*.sex
sdfred20130924_mf2/Makefile
sdfred20130924_mf2/bin/
sdfred20130924_mf2/clscripts/Makefile
sdfred20130924_mf2/clscripts/SPCAMim2FOCASim/SPCAMim2FOCASim.csh
sdfred20130924_mf2/clscripts/geomatch/geomatch.cl
sdfred20130924_mf2/clscripts/limitmag/limitmag.cl
sdfred20130924_mf2/config.log
sdfred20130924_mf2/config.status
sdfred20130924_mf2/mosaic/Makefile
sdfred20130924_mf2/mosaic/airmass/Makefile
sdfred20130924_mf2/mosaic/airmass/airmass2
sdfred20130924_mf2/mosaic/airmass/distcorr5
sdfred20130924_mf2/mosaic/airmass/grav2
sdfred20130924_mf2/mosaic/config.log
sdfred20130924_mf2/mosaic/config.status
sdfred20130924_mf2/mosaic/getarg/Makefile
sdfred20130924_mf2/mosaic/imc/Makefile
sdfred20130924_mf2/mosaic/imc/imcio2a
sdfred20130924_mf2/mosaic/include/
sdfred20130924_mf2/mosaic/libsrc/Makefile
sdfred20130924_mf2/mosaic/match/Makefile
sdfred20130924_mf2/mosaic/match/estmatch
sdfred20130924_mf2/mosaic/match/match_single5
sdfred20130924_mf2/mosaic/match/match_stack5
sdfred20130924_mf2/mosaic/match/overlap2
sdfred20130924_mf2/mosaic/match/shotmatch7.sh
sdfred20130924_mf2/mosaic/match/shotmatch7a.sh
sdfred20130924_mf2/mosaic/osmed/Makefile
sdfred20130924_mf2/mosaic/osmed/osmed4
sdfred20130924_mf2/mosaic/osmed/osmed5b2
sdfred20130924_mf2/mosaic/skysb/Makefile
sdfred20130924_mf2/mosaic/skysb/skydet3b
sdfred20130924_mf2/mosaic/skysb/skysb3b
sdfred20130924_mf2/mosaic/skysb/skysb4a1_spcam
sdfred20130924_mf2/mosaic/smth/Makefile
sdfred20130924_mf2/mosaic/smth/smth2
sdfred20130924_mf2/mosaic/starsel/Makefile
sdfred20130924_mf2/mosaic/starsel/starsel3
sdfred20130924_mf2/mosaic/util/Makefile
sdfred20130924_mf2/mosaic/util/arithimg
sdfred20130924_mf2/mosaic/util/getkey
sdfred20130924_mf2/mosaic/util/uppercut
sdfred20130924_mf2/sdfred/Makefile
sdfred20130924_mf2/sdfred/blank2
sdfred20130924_mf2/sdfred/circular_blanks
sdfred20130924_mf2/sdfred/line_blank
sdfred20130924_mf2/sdfred/mask_for_AGX
sdfred20130924_mf2/sdfred/mcomb2
sdfred20130924_mf2/sdfred/mkhist
sdfred20130924_mf2/sdfred/randomXY_mask
sdfred20130924_mf2/sdfred/wmediandiv2
sdfred20130924_mf2/sdfredSH/Makefile
sdfred20130924_mf2/sdfredSH/blank/blank.csh
sdfred20130924_mf2/sdfredSH/distcorr/distcorr.csh
sdfred20130924_mf2/sdfredSH/ffield/ffield.csh
sdfred20130924_mf2/sdfredSH/fwhmpsf/fwhmpsf.csh
sdfred20130924_mf2/sdfredSH/fwhmpsf_batch/fwhmpsf_batch.csh
sdfred20130924_mf2/sdfredSH/limitmag/limitmag.csh
sdfred20130924_mf2/sdfredSH/makemos/makemos.csh
sdfred20130924_mf2/sdfredSH/mask_AGX/mask_AGX.csh
sdfred20130924_mf2/sdfredSH/mask_mkflat_HA/mask_mkflat_HA.csh
sdfred20130924_mf2/sdfredSH/namechange/namechange.csh
sdfred20130924_mf2/sdfredSH/overscansub/overscansub.csh
sdfred20130924_mf2/sdfredSH/psfmatch/psfmatch.csh
sdfred20130924_mf2/sdfredSH/psfmatch_batch/psfmatch_batch.csh
sdfred20130924_mf2/sdfredSH/skysb/skysb.csh
sdfred20130924_mf2/sdfredSH/skysb_reg/skysb_reg.csh
sdfred20130924_mf2/sdfredSH/spcamred/spcamred.csh
sdfred20130924_mf2/sdfredSH/starselect/starselect.csh
*.dat
*.list
*.cat
*.log
*.fits.mes
*.mos
*.mos.tmp
overlap_lis
tmp_fwhmpsf_batch1
tmp_fwhmpsf_batch2

